.player {
  margin-bottom: 25px;
}
.toggleReport {
  float: right;
}
.voteArea {
  position: relative;
  margin-top: 10px;
  height: 37px;
}
.rate {
  float: left;
}
.voteText {
  font-size: 0.95rem;
  margin-top: 5px;
  float: left;
}
.voteButton {
  float: right;
}
.reportArea {
  display: flex;
  margin-top: 10px;
  gap: 1rem;
}
.reason {
  flex: 1;
}
.reportButton {
  float: right;
}
.list {
  margin-top: 10px;
  padding: 0;
  list-style-type: none;
}
.itemIndex {
  color: #666;
  margin-right: 12px;
  cursor: pointer;
}
.listItem {
  position: relative;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding: 0 15px;
  border-top: 2px solid #e9e9e9;
  cursor: pointer;
  margin: 0;
}
.listItem:first-child {
  border-top: none;
}
.listItem:hover {
  background: #efefef;
}
