html,
body,
:global(#root) {
  margin: 0;
  width: 100%;
  height: 100%;
}

hr {
  display: block;
  padding: 0;
  border: 0;
  height: 0;
  border-top: 1px solid #eee;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
:global {
  .footer {
    text-align: center;
  }
  .footer a {
    color: inherit;
    text-decoration: underline;
  }
  .fade-enter .fade-leave .fade-leave-active {
    opacity: 0;
  }
  .fade-enter-active .fade-leave-active {
    opacity: 1;
    transition: opacity 200ms linear;
  }
}
