html,
body,
:global(#root) {
  margin: 0;
  width: 100%;
  height: 100%;
}

hr {
  display: block;
  padding: 0;
  border: 0;
  height: 0;
  border-top: 1px solid #eee;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

:global(.redirect) {
  font-size: 14px;
  color: #777;
}
:global(.tips) {
  color: #777;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

:global(.fade-enter) {
  opacity: 0.01;
}

:global(.fade-enter.fade-enter-active) {
  opacity: 1;
  transition: opacity 200ms ease;
}

:global(.fade-exit) {
  opacity: 1;
}

:global(.fade-exit.fade-exit-active) {
  opacity: 0.01;
  transition: opacity 200ms ease;
}
