html,body {
    margin: 0;
    width: 100%;
    height: 100%;
}
body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
}
div,footer{
    display: block;
}
a {
    color: inherit;
    text-decoration: none;
}
hr {
    display: block;
    padding: 0;
    border: 0;
    height: 0;
    border-top: 1px solid #eee;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
[class*="fa-"] {
    padding-right: 1px;
    margin-right: 10px;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    position: relative;
    width: 100%;
    height: 100%;
}
.app.without-animation {
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -o-transition: none!important;
    transition: none!important
}

.sidebar{
    position: absolute;
    width: 300px;
    top: 0;
    left: -300px;
    bottom: 0;
    z-index: 1;
    overflow-y: auto;
    -webkit-transition: left 250ms ease;
    -moz-transition: left 250ms ease;
    -o-transition: left 250ms ease;
    transition: left 250ms ease;
}
@media (max-width:600px) {
    .sidebar {
        width: calc(100% - 60px);
        bottom: 0;
        left: -100%
    }
    .logo {
        width: calc(100% - 60px);
    }
}
.app.show-sidebar .sidebar {
    left: 0;
}
.navbar{
    display: block;
    position: absolute;
    top: 60px;
    bottom: 0;
    margin: 0;
    width: 100%;
    -webkit-transition: left 250ms ease;
    -moz-transition: left 250ms ease;
    -o-transition: left 250ms ease;
    transition: left 250ms ease;
}
.navbar a{
    text-decoration: none;
}
.logo {
    position: fixed;
    top: 0;
    width: calc(100% - 60px);
    padding: 0 15px;
    /*margin: auto;*/
    transition: all 250ms ease;
    font-size: 20px;
    line-height: 60px;
    z-index: 2;
    color: #fff;
    border-color: rgba(238,241,146,0.3);
    border-right-width: 1px;
    border-right-style: solid;
    background: #20a0ff;
}

@media (min-width:600px) {
    .app.show-sidebar .container {
        left: 300px;
    }
}
@media (max-width:600px) {
    .app.show-sidebar {
        overflow: hidden;
    }
    .app.show-sidebar .container {
        -webkit-transform: translate(calc(100% - 60px),0);
        -moz-transform: translate(calc(100% - 60px),0);
        -ms-transform: translate(calc(100% - 60px),0);
        -o-transform: translate(calc(100% - 60px),0);
        transform: translate(calc(100% - 60px),0)
    }
}
.container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    -webkit-transition: left 250ms ease;
    -moz-transition: left 250ms ease;
    -o-transition: left 250ms ease;
    transition: left 250ms ease;
}
.container.without-animation {
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -o-transition: none!important;
    transition: none!important
}

.container-inner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto
}
@media (max-width:1240px) {
    .container {
        -webkit-transition: -webkit-transform 250ms ease;
        -moz-transition: -moz-transform 250ms ease;
        -o-transition: -o-transform 250ms ease;
        transition: transform 250ms ease;
        padding-bottom: 20px
    }

    .container-inner {
        /*position: static;*/
        min-height: calc(100% - 50px)
    }
}

.header {
    position: fixed;
    overflow: visible;
    top: 0;
    height: 60px;
    width: 100%;
    padding: 0 8px;
    z-index: 2;
    color: #fff;
    background: #20a0ff;
}
.header-inner {
    position: relative;
    /*width: 100%;*/
}
.show-btn {
    display: block;
    height: 60px;
    padding: 0 15px;
    line-height: 60px;
    border-bottom: none;
    color: #fff;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    position: relative;
    float: left;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
}
.title {
    display: block;
    height: 60px;
    padding: 0 20px;
    border-bottom: none;
    color: #fff;
    line-height: 60px;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    position: relative;
    font-size: 18px;
}

.page {
    margin-top: 60px;
    position: relative;
    outline: 0;
}
.page-inner {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 15px 40px 15px;
}
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /*background: #475669;*/
    /*height: 30px;*/
    font-size: 85%;
    box-sizing: border-box;
}
.footer {
    padding-left: 1.6rem;
    color: #777;
}
.footer a{
    text-decoration: underline;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    -webkit-font-smoothing: antialiased
}