.sidebar {
  position: fixed;
  width: 300px;
  top: 0;
  left: -300px;
  height: 100%;
  min-height: 100vh;
  -webkit-transition: left 250ms ease;
  -moz-transition: left 250ms ease;
  -o-transition: left 250ms ease;
  transition: left 250ms ease;
}

@media (max-width: 500px) {
  .sidebar {
    width: 70%;
    left: -70%;
  }
  .logo {
    width: 70%;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .sidebar {
    width: 256px;
    left: -256px;
  }
  .logo {
    width: 256px;
  }
}

.sidebar.show {
  left: 0;
}

.logo {
  position: fixed;
  top: 0;
  width: 70%;
  padding: 0 15px;
  font-size: 1.3rem;
  line-height: 64px;
  z-index: 2;
  color: #fff;
  background: #1890ff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.nav {
  display: block;
  position: absolute;
  top: 64px;
  bottom: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
/* .nav::-webkit-scrollbar {
  display: none;
} */
