.controls {
    float: left;
    margin-right: 20px;
}
.controls Button Icon {
    margin: 1px;
}
.volume {
    float: left;
    vertical-align: middle;
    margin-right: 15px;
    padding-top: 10px;
}
.changeVolume {
    width: 80px;
    float: left;
}
.timeDetail {
    font-size: 12px;
    color: #777;
    display: inline;
    float: right;
}
