.controls {
  float: left;
  margin-right: 20px;
}

.miniPlayer {
  display: flex;
  align-items: center;
}

.miniTimeDetail {
  font-size: 12px;
  color: #777;
  white-space: nowrap;
}

.timeDetail {
  composes: miniTimeDetail;
  float: right;
}

.bufferDetail {
  width: 5px;
  font-size: 12px;
  color: #777;
  float: left;
  white-space: nowrap;
}

.volumeControl {
  margin-left: 10px;
}
