.app {
  position: relative;
  width: 100%;
  height: 100%;
}

.logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}

.header {
  position: fixed;
  overflow: visible;
  top: 0;
  height: 64px;
  width: 100%;
  padding: 0;
  z-index: 2;
  color: #fff;
  background: #1890ff;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  overflow-y: auto;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.containerinner {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto
}

@media (min-width:500px) {
  .app.withsidebar .container {
      left: 300px;
  }
  .containerinner {
      min-height: 50vw
  }
}
@media (max-width:500px) {
  .app.withsidebar {
      overflow: hidden;
  }
  .app.withsidebar .container {
      -webkit-transform: translate(60vw,0);
      -moz-transform: translate(60vw,0);
      -ms-transform: translate(60vw,0);
      -o-transform: translate(60vw,0);
      transform: translate(60vw,0)
  }
}

.trigger {
  color: #fff;
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

/* .trigger:hover {
  color: #69c0ff;
} */

.content {
  margin-top: 64px;
  position: relative;
  outline: 0;
}

.contentinner {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 15px 40px 15px;
}